@{
    ViewBag.Title = "Event";
}

<div class="container-fluid fill menu-buffer text-center event-page-header" style="background-image:url('@Url.Content("~/Content/images/festival2.jpg")')">
    <div class="overlay">
        <h1>Electric Castle Festival</h1>
        <h2>Cluj-Napoca, Romania</h2>
        <span>30.07 - 02.08 2015</span>
    </div>
</div>

<div class="container top-buffer">
    <div class="row">
        <div class="col-md-3" id="leftCol">
            <div class="img-rounded text-center price-box">
                <span>price starting</span>
                <h1>$990</h1>
            </div>
            <div class="img-rounded filter-box price-details-box">
                <h2 class="text-center">Packages Include</h2>
                <div class="row details">
                    <div class="col-md-4 text-right">
                        <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-8 text-left">
                        <p>LONDON - CLUJ</p>
                        <p>CLUJ - LONDON</p>
                    </div>
                </div>
                <div class="row details">
                    <div class="col-md-4 text-right">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-8 text-left">
                        <p>5 nights</p>
                        <p>accomodation</p>
                    </div>
                </div>
                <div class="row details">
                    <div class="col-md-4 text-right">
                        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-8 text-left">
                        <p>event ticket</p>
                    </div>
                </div>
                <div class="text-center book-now-container">
                    <a href="#" class="btn btn-primary btn-lg outline">Book now</a>
                </div>
                
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                
                <p>Descrierea evenimentului, caruselul cu imagini, etc...</p>
                
                
            </div>
        </div>
    </div>
</div>