
@{
    ViewBag.Title = "ThankYou";
}

<div class="container menu-buffer text-center">
    <h1 style="color:green;">Order confirmed</h1>
    <h3>You will receive the confirmation and the ticket on your e-mail</h3>
</div>
<div style="height:50%;">

</div>