html, body {
    font-family: 'PT Sans', Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 4em;
}

.top-buffer {
    margin-top: 20px;
}
.menu-buffer {
    padding-top:80px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    letter-spacing: 1px;
}

    .btn:focus, .btn:active:focus, .btn.active:focus {
        outline: 0 none;
    }

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        background: #33a6cc;
    }

    .btn-primary:active, .btn-primary.active {
        background: #007299;
        box-shadow: none;
    }

.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 1px solid #cecece;
    color: #cecece;
}

.btn-primary.focused {
    color: #fff;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    border-color: #fff;
}

.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #b9b9b9;
    color: #b9b9b9;
    box-shadow: none;
}

.navbar {
    height: 80px;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .navbar > .container-fluid .navbar-brand {
        margin-left: 50px;
    }
}

@media (min-width: 768px) {
    :last-child.navbar-right.navbar-nav {
        margin-top: 15px;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > span, .navbar-nav > li > img {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.navbar-toggle {
    margin-top: 25px;
}

html, body {
    height: 100%;
}

.carousel, .item, .active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
    position: relative;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}
/* keep full widget on smaller screens */
@media (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
}

.travique-carousel-indicators {
    background-color: #f00;
    z-index: 15;
    display: block;
}

    .travique-carousel-indicators li {
        display: inline-block;
        cursor: pointer;
    }

        .travique-carousel-indicators li.selected {
            position: relative;
            background-color: #fff;
        }

            .travique-carousel-indicators li.selected:after {
                bottom: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #ffffff;
                border-width: 20px;
                margin-left: -20px;
            }

.travique-carousel-item {
    height: 700px;
}

    .travique-carousel-item img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

.travique-carousel-caption {
    position: absolute;
    top: 30%;
}

    .travique-carousel-caption h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 4em;
        font-weight: 700;
    }

    .travique-carousel-caption p {
        font-size: 1.5em;
        color: #cecece;
    }

#travique-carousel .travique-carousel-control-left, #travique-carousel .travique-carousel-control-right {
    position: absolute;
    top: 50%;
    background-image: none;
    vertical-align: middle;
}

    #travique-carousel .travique-carousel-control-left:hover, #travique-carousel .travique-carousel-control-right:hover {
        background-image: none;
    }

.travique-main-category-box {
    height: 300px;
    padding: 30px 40px;
    margin: 0 20px 20px 0;
    text-align: center;
    color: #fff;
}

    .travique-main-category-box:last-child {
        margin-right: 0;
    }

.contemporary-music {
    background-color: #8A4B7A;
}

.electronic-music {
    background-color: #019AE0;
}

.food-drink {
    background-color: #ED3B3F;
}

.unusual {
    background-color: #89BE36;
}

.travique-main-partner-box {
    height: 160px;
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.travique-footer {
    padding-top:20px;
    padding-bottom:20px;
    background-color: #3c3d41;
    color: #aaa;
}
.travique-footer h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #fff;
}
.travique-footer-box, .travique-footer-box .travique-logo  {
    height: 40px;
}
.travique-footer ul {
    list-style-type: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.travique-footer ul li {
    display: inline-block;
    margin-right: 10px;
}
.travique-footer .travique-footer-keywords {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1em;
}

div.events-header {
    padding: 50px;    
}

    div.events-header h1 {
        color:#fff;
    }
    div.events-header p {
        color:#cecece;
    }

.travique-login {
    padding: 50px;
}
.travique-login-inner {
    width: 350px;
    margin: 0 auto;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.travique-login-box h2 {
    margin-top: 0;
}
.travique-login-inner .btn {
    margin-top: 20px;
}
.travique-wrapper {
    min-height: 100%;
    height: auto;
    padding-bottom: 80px;
    margin-bottom: -80px;
}