
@{
    ViewBag.Title = "LogIn";
}
<div class="menu-buffer travique-login">
    <div id="login" class="travique-login-inner">
        <h2 class="text-center">Login</h2>
        @Html.Partial("../Account/_LoginPartial")
    </div>
</div>